* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Karla", sans-serif;
    background-color: hsl(148, 38%, 91%);
}
.checked {
    opacity: 0;
    transition: 1s;
    max-width: 500px;
    background-color: hsl(169, 17%, 20%);
    border-radius: 8px;
    display: flex;
    margin: 0 auto;
    padding: auto 2%;
    justify-content: center;
}
.mensagem-enviada {
    color: white;
    width: 82%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mensagem-enviada div {
    gap: 10px;
    display: flex;
    align-self: self-start;
    margin-left: 4px;
    margin-bottom: 15px;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
}
#title {
    display: flex;
    padding: 35px 10px;
}
.container {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 2%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}
.w100 {
    flex: 1 1 100%;
    padding: 0 7px;
    margin: 5px auto;
}
.w50 {
    flex: 1 1 50%;
    padding: 0 7px;
    margin: 5px auto;
}
.style-names {
    display: inline-flex;
    margin: 5px 0;
    font-weight: 400;
}
.style-names p {
    margin-left: 5px;
    color: hsl(169, 82%, 27%);
}
.form-row input[type=text],
.w100 input[type=email] {
    border: 1px solid hsl(169, 82%, 27%);
    border-radius: 8px;
    width: 100%;
    height: 53px;
    padding-left: 10px;
    font-size: 16px;
}
input[type=radio] {
    height: 20px;
    width: 20px;
    accent-color: hsl(169, 82%, 27%);
    flex-shrink: 0;
}
textarea {
    width: 100%;
    height: 114px;
    border: 1px solid hsl(169, 82%, 27%);
    padding: 10px;
    border-radius: 8px;
    resize: none;
}
.test {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-rbtn {
    width: 100%;
    margin: 5px auto;
    gap: 12px;
    display: flex;
}
.radio-one {
    display: flex;
    align-items: center;
    flex: 1 1 50%;
    padding-left: 20px;
    height: 53px;
    gap: 20px;
    border: 1px solid hsl(169, 82%, 27%);
    border-radius: 8px;
    cursor: pointer;
}
.radio-one label{
    cursor: pointer;
}
input[type=checkbox] {
    accent-color: hsl(169, 82%, 27%);
    width: 20px;
    height: 20px;
    margin-right: 15px;
    flex-shrink: 0;
}
.area-texto {
    display: flex;
    flex-direction: column;
}
.checkbox {
    display: inline-flex;
    margin: 10px 0;
    align-items: center;
    cursor: pointer;
}
.texto span {
    margin-left: 4px;
    color: hsl(169, 82%, 27%);
}
input[type=submit] {
    width: 100%;
    height: 65px;
    border: 0;
    background-color: hsl(169, 82%, 27%);
    border-radius: 8px;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 30px;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
    outline: none;
    border: 2px solid hsl(169, 51%, 44%);
}
.radio-one:focus-within {
    outline: none;
    background-color: hsl(148, 38%, 91%);
    border: 2px solid hsl(169, 51%, 44%);
}
input[type=text]:hover,
input[type=email]:hover,
textarea:hover {
    border: 2px solid hsl(169, 51%, 44%);
}
input[type=submit]:hover {
    cursor: pointer;
    background-color: hsl(169, 81%, 17%);
}
.error {
    display: flex;
    opacity: 0;
    color: rgb(240, 68, 68);
}
.attribution a:hover{
    color: hsl(0, 100%, 63%);
}
.attribution{
    display: flex;
    justify-content: center;
    margin: 45px;
}
.attribution a{
    font-size: 17px;
    text-decoration: none;
}
